# Notion設定
NOTION_API_KEY=
DB_ID=

# AWS SQS設定
AWS_REGION=ap-northeast-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SQS_QUEUE_URL=
NOTIFICATIONS_ENABLED=true # 通知を有効にするかどうか(falseにするとSQSへの送信をスキップ)

NEXT_PUBLIC_BASE_URL=
